
html {
	overflow : hidden ;
	min-width : 900px ;
	height : 100% ;
	margin : 0 ;
} body {
	overflow : hidden ;
	margin : 0 ;
	height : 100% ;
	display : flex ;
	flex-direction : column ;
	justify-content : space-between ;
}



/* NAV */

nav {
	margin : 0 ;
	height : 5% ;
	display : flex ;
	justify-content : flex-end ;
} #navcontent {
	margin-right : 12px ;
	display : flex ;
	min-width : 200px ;
	width : 14% ;
	justify-content : space-between ;
	align-items : center ;
} nav a {
	font-family : Arial, sans-serif ;
	font-size : 0.85em ;
	color : #515151 ;
	text-decoration : none ;
} nav a:hover {
	text-decoration : underline ;
} #dessin_chelow {
	display : flex ;
	flex-direction : column ;
	justify-content : space-around ;
} #dessin_chelow div {
	display : flex ;
	justify-content : space-between ;
} #dessin_chelow div div {
	margin : 1px ;
	height : 4px ;
        width : 4px ;
	background-color : #727272 ;
} #dessin_chelow:hover .bullshitrow div {
	background-color : #616161 ;
} #loginbutton {
	padding : 5px 15px ;
	height : 40% ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	background-color : #4484f1 ;
	border-radius : 2px ;
} #loginbutton p {
	font-family : Arial, sans-serif ;
	font-size : 0.9em ;
	color : #ffffff ;
	font-weight : bold ;
}





/* PAGE CORPUS */

#main {
	margin : 0 ;
	height : 80% ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
} img {
	display : block ;
	margin : 17px auto ;
} section {
	display : flex ;
	flex-direction : column ;
	align-items : center ;
} input {
	border : 1px solid #f1f1f1 ;
	height : 40px ;
	border-radius : 3px ;
	box-shadow : 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
} input:hover {
	box-shadow : 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
} #submit_buttons {
	display : flex ;
	justify-content : center ;
} #submit_button div p {
	font-size : 0.8em ;

} #submit_buttons div {
	border : 1px solid #ffffff ;
	border-radius : 2px ;
	padding : 7px 15px ;
	height : 28px ;
	margin : auto 10px ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	background-color : #f4f4f4 ;
} #submit_buttons div:hover {
	background-color : #f5f5f5 ;
	border : 1px solid #999999 ;
} #submit_buttons div:hover p {
	color : #000000 ;
} #submit_buttons:focus {
	border : 1px solid #4885ed ;
} #submit_buttons div p {
	font-family : Arial, sans-serif ;
	font-size : 0.8em ;
	font-weight : bold ;
	color : #757575 ;
} #adjustment {
	height : 40% ;
} 





/* FOOTER */
footer {
	margin : 0 ;
	height : 8% ;
} #topfooter {
	padding : 0 15px ;
	background-color : #f2f2f2 ;
	margin : 0 ;
	border : 1px solid #e2e2e2 ;
	height : 50% ;
} #bottomfooter a {
	margin-right : 10px ;
} #bootomfooter a {
	margin-left : 10px ;
} #bottomfooter {
	padding : 0 18px ;
	background-color : #f2f2f2 ;
	margin : 0 ;
	display : flex ;
	justify-content : space-between ;
	align-items : center ;
	height : 50% ;
} footer p, footer a {
	font-family : Arial, sans-serif ;
	font-size : 0.9em ;
	text-decoration : none ;
	color : #717171 ;
} footer a:hover {
	text-decoration : underline ;
} 
